:root {
    --crm-primary: #630330;
    --crm-text-light: #ffffff;
}

nav {
    background-color: var(--crm-primary);
}

.nav-link:hover {
    background-color: var(--crm-primary-hover);
}

.link-color {
  color: var(--crm-text-light);
}

.link-color:hover {
  color: var(--crm-text-light);
}

h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.table > thead.crm-table-header > tr > th {
    --bs-table-bg: var(--crm-primary);
    --bs-table-color: var(--crm-text-light);
    --bs-table-accent-bg: var(--crm-primary);
}