<!-- Accounts list page -->
{% extends "base.html" %}
{% block title %}
<title>Accounts List View</title>
{% endblock %}
{% block content %}
<h2>CRM Accounts Table</h2>
<table class="table table-striped table-bordered">
    <thead class="crm-table-header">
        <tr>
            <th>Account ID</th>
            <th>Name</th>
            <th>City</th>
            <th>Region</th>
            <th>Country</th>
            <th>Description</th>
            <th>Inudstry</th>
            <th>Annual Reveneu</th>
            <th>Number of Employees</th>
            <th>Source</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Created Date</th>
            <th>Owner</th>
            <th>Created By</th>
        </tr>
    </thead>
    <tbody>
        {% for datadisplay in CRMAccount %}
        <tr>
            <td>
                <a href="{% url 'account_details' datadisplay.account_num %}">
                {{datadisplay.account_id}}
                </a>
            </td>
            <td>{{datadisplay.account_name}}</td>
            <td>{{datadisplay.city}}</td>
            <td>{{datadisplay.region}}</td>
            <td>{{datadisplay.country}}</td>
            <td>{{datadisplay.account_description}}</td>
            <td>{{datadisplay.account_industry}}</td>
            <td>₪{{datadisplay.account_annual_revenue}}</td>
            <td>{{datadisplay.account_number_of_employees}}</td>
            <td>{{datadisplay.account_source}}</td>
            <td>{{datadisplay.account_email}}</td>
            <td>{{datadisplay.account_phone}}</td>
            <td>{{datadisplay.account_created_date}}</td>
            <td>{{datadisplay.user_first_name}} {{datadisplay.user_last_name}}</td>
            <td>{{datadisplay.user_first_name}} {{datadisplay.user_last_name}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}