<!-- Contacts list page -->
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Contacts List View</title>
        <!-- Bootstrap CSS -->
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
        crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'crm/styles.css' %}">
    </head>
    <body>
        <div class="container">
            <h1>CRM Web Application</h1>
            <nav class="navbar navbar-expand-sm">
                <div class="container-fluid">
                    <!-- Links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link link-color" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-color" href="{% url 'users' %}">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-color" href="{% url 'leads' %}">Leads</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-color" href="{% url 'accounts' %}">Accounts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-color" href="{% url 'contacts' %}">Contacts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-color" href="{% url 'opportunities' %}">Opportunities</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <h2>CRM Contacts Table</h2>
            <table class="table-condensed table-striped table-bordered">
                <tr>
                    <th>Contact ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Account ID</th>
                    <th>Job Title</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Created Date</th>
                    <th>Owner Number</th>
                    <th>Created By</th>
                </tr>
                {% for datadisplay in CRMContact %}
                <tr>
                    <td>{{datadisplay.contact_id}}</td>
                    <td>{{datadisplay.contact_first_name}}</td>
                    <td>{{datadisplay.contact_last_name}}</td>
                    <td>{{datadisplay.account_id}}</td>
                    <td>{{datadisplay.contact_job_title}}</td>
                    <td>{{datadisplay.contact_email}}</td>
                    <td>{{datadisplay.contact_phone}}</td>
                    <td>{{datadisplay.contact_created_date}}</td>
                    <td>{{datadisplay.user_first_name}} {{datadisplay.user_last_name}}</td>
                    <td>{{datadisplay.user_first_name}} {{datadisplay.user_last_name}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous">
        </script>
    </body>
</html>