<!DOCTYPE html>
<html>
    <head>
        <title>Connect SQL from Django</title>
    </head>
    <body>
        <h1>CRM Web Application</h1>
        <h2>CRM Users Table</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Company</th>
                <th>Department</th>
                <th>Role</th>
                <th>Description</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Username</th>
            </tr>
            {% for datadisplay in CRMUser %}
            <tr>
                <td>{{datadisplay.user_id}}</td>
                <td>{{datadisplay.user_first_name}}</td>
                <td>{{datadisplay.user_last_name}}</td>
                <td>{{datadisplay.user_company}}</td>
                <td>{{datadisplay.user_department}}</td>
                <td>{{datadisplay.user_role}}</td>
                <td>{{datadisplay.user_description}}</td>
                <td>{{datadisplay.user_email}}</td>
                <td>{{datadisplay.user_phone}}</td>
                <td>{{datadisplay.user_username}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>